{% extends "base.html" %}
{% load static %}

{% block res %}
    <link
        rel="stylesheet" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        
        href="{%static 'css/spinner.css'%}"
    >
{% endblock %}

{% block header %}
    <div class="element">
        <a href="{% url 'homepage' %}"> home </a>
        |
        <a href="{% url 'show_all_movies' %}"> back to movies </a>
    </div>
{% endblock %}

{% block body %}
    <div id="upload-overlay">
        <div class="spinner"></div>
        <h2>Uploading Movie...</h2>
    </div>
    

    <form 
    method="POST" 
    enctype="multipart/form-data"
    onsubmit="document.getElementById('upload-overlay').style.display='block';"
    >
        {% csrf_token %}
        
        <div>
            <label for="m_name">Name:</label>
            <input type="text" id="m_name" name="movie_name" required>
        </div>
        
        <div>
            <label for="m_file">File:</label>
            <input type="file" id="m_file" name="movie_file" required>
        </div>
        <button type="submit">Add</button>
</form>

{%endblock%}