{% extends "base.html" %}
{% load static %}

{% block res %}
    <link
        rel="stylesheet" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        
        href="{%static 'css/spinner.css'%}"
    >
    <link
        rel="stylesheet" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        href="{%static 'css/upload.css'%}"
    >
{% endblock %}

{% block header %}
    <div class="option_color">
        <a href="{% url 'homepage' %}"> homepage </a>
    </div>
        |    
    <div class="option_color">
        <a href="{% url 'show_all_movies' %}"> back </a>
    </div>
{% endblock %}

{% block body %}
    <div id="upload-overlay">
        <div class="spinner"></div>
        <h2>Uploading Movie...</h2>
    </div>
    

    <form 
    method="POST" 
    enctype="multipart/form-data"
    onsubmit="document.getElementById('upload-overlay').style.display='block';"
    >
        {% csrf_token %}
        
        <br>
        THE NAME(s) OF THE FILE(s) WILL BE USED AS THE NAME(s) OF THE MOVIE(s). <br>
        YOU CAN EDIT THIS LATER. <br>
        <br>

        <div>
            <label class="upload_description" for="m_file">Movie(s) To Upload</label> : <br>
            <input class="upload_description" type="file" id="m_file" name="movie_files" required multiple>
        </div>

        <br> <br>
        <button class="submit_button" type="submit">Add</button>
</form>

{%endblock%}