{% extends "base.html" %}

{%block body%}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="m_name">New Name:</label>
            <input type="text" value="{{ prev_movie_name }}" id="m_name" name="movie_name" required>
        </div>

		<div>
            <label for="m_file">New File (optional):</label>
            <input type="file" id="m_file" name="movie_file">
        </div>	

        <button type="submit">EDIT</button>
    </form>
{%endblock%}