/* links de-uglyfier */
a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

/* dimensions scaled background image */
.base_background_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* make everything scale with the background */
html {
    font-size: 2.0vw;
    min-height: 100%;
    margin: 0;
    position: relative;
    color: white;
}