{%extends "base.html"%}

{% comment %} MENU {% endcomment %}
{% block header %}
    <div>
        <div class="option_color">
            <a href="{% url 'homepage' %}"> homepage </a>
        </div>
        |
        <div class="option_modify_color">
            <a  href="{% url 'add_this_movie' %}"> ADD MOVIE </a>
        </div>
    </div>
{% endblock %}

{%block body%}
    MOVIE LIST BY NAME:
    <div>
        <ol>
            {% for m in movies %}
                <li>
                    <div class="option_basic_color">
                        <a href="{% url 'watch_movie' m.id %}"> {{m.movie_name}} </a>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{%endblock%}