{% extends "base.html" %}
{% load static %}

{% block res %}
    <link
        rel="stylesheet" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        href="{%static 'css/video.css'%}"
    >
{% endblock %}

{% block header %}
    <div class="option_color">
        <a href="{% url 'homepage' %}"> home </a>
    </div>
        |    
    <div class="option_color">
        <a href="{% url 'show_all_movies' %}"> back </a>
    </div>
        |
    <div class="option_modify_color">
        <a href="{% url 'edit_this_movie' movie.id %}"> edit movie! </a>
    </div>
        |
    <div  class="option_modify_color">
        <a href="{% url 'delete_this_movie' movie.id %}"> delete movie! </a>
    </div>
{% endblock %}

{% block body %}

    name:
    <div class="basic_description">
        {{movie.movie_name}} <br>
    </div>
    id:
    <div class="basic_description">
        {{movie.id}} <br>
    </div>

    {% if movie.movie_file %}
        <div class="video-header">
            <video controls>
                {% comment %} ?v={% now 'U' %} this fixes cache issues {% endcomment %}
                <source src="{% url 'stream_movie' movie.id %}?v={% now 'U' %}">
            </video>
        </div>
    {% endif %}
{% endblock %}